In [1]:
import datetime as dt
current_time = dt.datetime.now()
minute = current_time.minute
hour = current_time.hour
print(current_time)
print(hour)
print(minute)

2021-03-15 14:48:07.708234
14
48

In [3]:
print("현재시간은 : {}  \n현재 분은 : {}".\
      format(hour,minute))

현재시간은 : 14
현재 분은 : 48

In [5]:
firstLetter = "smart"
secondLetter = "fintech"
print(firstLetter + secondLetter)

smartfintech

In [8]:
thirdLetter = 'smart "fintech" lecture' # 따옴표 출력을 원할 시 
fourthLetter = """smart 'fintech' "d" """
thirdLetter
print(fourthLetter)

smart 'fintech' "d"

In [9]:
inputval1 = 1
inputval2 = "2"
print(inpuval1+inputval2) 
# 숫자와 문자는 +하기 불가능

NameError: name 'inpuval1' is not defined

In [10]:
multi = 20
startflag = "start"
endflag = "end"
print("*"*multi+startflag+"*"*multi)

********************start********************

In [16]:
YEARLEN = 4
WEEKLEN = 2
invalue = "202103"
yearInfo = invalue[0:YEARLEN]
print(yearInfo)
weekInfo = invalue[YEARLEN:]
print(weekInfo)
# 첫번째 인덱스는 포함한다. 마지막 인덱스는 포함하지 않는다.
print(invalue[-2:])

2021
03
03

### 문자열 개수세기

In [17]:
yearweek = "2021W28"
print(yearweek.count('W'))

1

In [18]:
print(yearweek.index('W'))

4

In [19]:
delimeter = yearweek.index('W')
newYearweek = yearweek[:delimeter]+yearweek[delimeter+1:]
print(newYearweek)

202128

### 대소문자 구별 함수

In [21]:
letters = "led_tv"
letters.upper()

'LED_TV'

### 문자 치환

In [28]:
a = "hiteam      seoul"
b = "team       busan"
a.replace("  "," ").replace(" ","_")
b.replace("  "," ").replace(" ","_")

'team____busan'

### “SEC 20180212 250” 문자열 생성 후
stock_name, date, value로 각각 의미하는
문자열을 생성하세요

In [84]:
targetValue = "SEC 20180212 250"
# targetValue 문자열 생성
targetValue_split = targetValue.split(" ")
# targetValue를  공백을 기준해서 분리시켜 targetValue_split리스트에 담는다.
print(targetValue_split)
# targetValue에서 분리된 정보로 재 생성한 targetValue_split 리스트 출력

['SEC', '20180212', '250']

In [85]:
stock_name = targetValue_split[0]
# targetValue_split리스트의 첫번째 인덱스 값을 stock_name변수에 담는다.
date = targetValue_split[1]
# targetValue_split리스트의 두번째 인덱스 값을 date변수에 담는다.
value = targetValue_split[2]
# targetValue_split리스트의 세번째 인덱스 값을 value변수에 담는다.

In [86]:
print(stock_name,date,value)
# stock_name,date,value 출력

SEC 20180212 250

“Sec 2018W28 250” 문자열 생성 후
stock_name, date, value로 각각 의미하는
문자열을 생성하세요
(단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [69]:
StockData = "Sec 2018W28 250"
# StockData 문자열을 생성한다.
StockData_split = StockData.split(" ")
# StockData를  공백을 기준해서 분리시켜 StockData_split리스트에 담는다.
stock_name = StockData_split[0].upper()
# StockData_split리스트의 첫번째 인덱스를 대문자로 변환하여 stock_name변수에 담는다.
date = StockData_split[1].upper()
# StockData_split리스트의 두번째 인덱스를 대문자로 변환하여 date변수에 담는다.
date = date.replace("W","")
# date변수값에서 W를 지운다ate변수값에서 W를 지운다
value = StockData_split[2].upper()
# StockData_split리스트의 세번째 인덱스를 대문자로 변환하여 value변수에 담는다.
print(stock_name,date,value)
# stock_name,date,value을 출력한다.

SEC 201828 250

In [130]:
StockData = "Sec 2018W28 250"
# StockData 문자열을 생성한다.
StockData_split = StockData.split(" ")
# StockData를  공백을 기준해서 분리시켜 StockData_split리스트에 담는다.
for i in range(0,len(StockData_split)):
    StockData_split[i] = StockData_split[i].upper()
    # StockData_split리스트에서 하나씩 꺼내서 대문자로 변환해 준다.
stock_name = StockData_split[0]
# StockData_split리스트의 첫번째 인덱스를 대문자로 변환하여 stock_name변수에 담는다.
date = StockData_split[1]
# StockData_split리스트의 두번째 인덱스를 대문자로 변환하여 date변수에 담는다.
date = date.replace("W","")
# date변수값에서 W를 지운다.
value = StockData_split[2]
# StockData_split리스트의 세번째 인덱스를 대문자로 변환하여 value변수에 담는다.
print(stock_name,date,value)
# stock_name,date,value을 출력한다.

SEC 201828 250

1. 대문자로 변환한다.

In [108]:
targetValue = "Sec 2019W28 250"
targetValue = targetValue.upper()

2. 구분자를 정의한다.

In [116]:
delChar = "W"
delimeter = " "
delimeterIndex = targetValue.index(delimeter)
stockName = targetValue[:delimeterIndex]
leftedValue = targetValue[delimeterIndex:].lstrip() #왼쪽에 있는 공백을 없엔다.
delimeterIndex = leftedValue.index(delimeter)
date = leftedValue[:delimeterIndex].replace(delChar,"")
value = leftedValue[delimeterIndex+1:]

print(stockName,date,value)

SEC 201928 250

In [137]:
pricelist = [2,33,44,54,2,88]
print(min(pricelist))
print(max(pricelist))
print(sum(pricelist))
pricelist[2]=555
print(pricelist)
pricelist.remove(2)
print(pricelist)
del pricelist[1]
print(pricelist)

2
88
223
[2, 33, 555, 54, 2, 88]
[33, 555, 54, 2, 88]
[33, 54, 2, 88]

In [139]:
pricelist.sort(reverse = True)
print(pricelist)

[88, 54, 33, 2]

In [140]:
print(pricelist.count(2))

1

In [141]:
initList = [100,200,300,400]
initList[0:3]

[100, 200, 300]

In [142]:
sum(initList)

1000

In [144]:
initList.remove(300)

In [146]:
del initList[0]

In [147]:
print(initList)

[400]

In [148]:
initList.append(100)

In [149]:
initList.append(200)

In [150]:
initList.count(200)

1

In [151]:
initList

[400, 100, 200]

In [152]:
initList.sort(reverse = True)

In [153]:
initList

[400, 200, 100]

### 과제

[120,150,300,500,1000,100,2000] 
값에서 최소 최대 값을 뺀 평균을
average 이름의 변수에 담으세요

In [159]:
Score = [120,150,300,500,1000,100,2000]
Score.sort(reverse = True)
del Score[0]

print(Score)

[1000, 500, 300, 150, 120, 100]

In [6]:
Score = [120,150,300,500,1000,100,2000]
# Score 리스트를 생성한다.
Score.remove(max(Score))
# 최대값을 삭제한다.
Score.remove(min(Score))
# 최소값을 삭제한다.
average = sum(Score) / len(Score)
# 합계에서 리스트성분의 갯수로 나누어 평균을 구한다.
print("리스트의 평균값은 {}입니다.".format(average))
# 평균을 출력한다.

리스트의 평균값은 414.0입니다.

In [11]:
a="2017w42"

print(a.split("w")[0])

2017

In [22]:
import pandas as pd
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
customerTotalList.sort(reverse=True)
del customerTotalList[0]
mini = min(customerTotalList)
mini_count = customerTotalList.count(mini)
print(mini_count)
del customerTotalList[-mini_count:]
print(sum(customerTotalList)/len(customerTotalList))

256
35248.91490376756